@import "tailwindcss";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    background: #F7F9FB;
}

@theme {
    --color-primary: #F69220;
    --color-secondary: #FEF3E7;
}

.ql-editor {
    min-height: 100px;
    max-height: 37vh;
    overflow-y: auto;
    font-size: 12px;
}